# OS junk
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
.DS_Store

# Editor/IDE
*.swp

# KiCad backups (adjust if a different EDA tool is used)
*-backups/
*.bak
fp-info-cache
*.kicad_pcb-bak
*.kicad_sch-bak
_autosave-*
