# OS junk
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
.DS_Store

# Editor/IDE
*.swp

# Altium
*.PcbDoc.Bak*
*.SchDoc.Bak*
*.PrjPcbStructure
History/
Project Logs*/
*.OutJob.Bak*
__Previews/
*.DcdmFile.Cmp

# SolidWorks
~$*
*.SLDPRT.bak
*.SLDASM.bak
*.SLDDRW.bak

# General CAD/EDA backups
*-backups/
*.bak
_autosave-*
